<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<h1> Add a new Thread!</h1>
<form method="post" action="/categories/:cat_id/threads">
User: <input type="text" name="user">
Message: <input type="text" name="message">
Category: <select name="category_id">
    <option value="1">Botany</option>
    <option value="2">Entertainment</option>
    <option value="3">Sports</option>
    <option value="4">Food</option>
    <option value="5">World News</option>
    <option value="6">Gaming</option>
    <option value="7">Mens Health</option>
    <option value="8">Mysteries</option>
</select>
<input type="hidden" name="votes" value="0">
<input type="submit">
</form>
</body>
</html>