<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <style>
    form {
      margin-right: 14em;
    }
    </style>

</head>
<body>
<h1 id="new_comment"> Add a New Comment</h1>
<div class="form">
<form class="pure-form" method="post" action="/categories/<%=cat_id%>/threads/<%=thread_id%>/comments">
<p>Author: <br><input class="pure-input-1-2" type="text" name="author"></p><br><br>
<p>Comment: <br><textarea name = "message" class="pure-input-1-2" placeholder="Your New Comment Here"></textarea>
<input type="hidden" name="thread_id" value="<%=thread_id%>">
<br><br>
<input class="pure-button pure-input-1-2 pure-button-primary" type="submit">
</form>
</div>
</body>
<footer>
</footer>
</html>