.container {
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-align: center;
    margin-left: 115px;
    margin-bottom: 1em;
}


/* resize images */


header {
    text-align: center;
    font-size: 30px;
    background: rgb(61, 79, 93);
}

/*.pure-menu {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}*/

#header {
    border-width: 2px;
    border-color: gray;
    padding-right: 90px;
    margin-left: 1px;
}

h1 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}


.content a {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    text-align: center;
    margin-top: 47%;

}

.content {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 1em;
}



.fa-facebook-official {}
